
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        theInterviewLoop.com is your interviewing tool. The goal of this app is to help interviewers with a
        streamlined and fluid tool that will help improve the interviewing experience. We hope this app will
        not just help the interviewer track the interaction with the candidate better but also help the company
        in the long run.
    </p>
</article>
