<div class="jumbotron">
    <h1>Your interviewing tool</h1>
    <p class="lead">The one thing that was always missing from a great interviewing experience. This one is for the <em>interviewers.</em></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Interview</h3>
        <p>A 1-1 interaction between an interviewer and candidate</p>
        <p>@Html.ActionLink("Add Company", "Company", "Home", null, new { @class = "btn btn-primary" })</p>
        <p>@Html.ActionLink("Let's Go", "Interview", "Home", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h3>InterviewLoop</h3>
        <p>A round of interviews by multiple interviewers for a single candidate usually across a single day.</p>
        <p><i>We are actively working on this</i></p>
        <p><button class="btn btn-primary disabled">Let's Go</button></p>
    </div>
    <div class="col-md-4">
        <h3>InterviewRings</h3>
        <p>Multiple InterviewLoops being handled by a coordinator at a given location for one or more days.</p>
        <p><i>We are actively working on this</i></p>
        <p><button class="btn btn-primary disabled">Let's Go</button></p>
    </div>
</div>
