
@{
    ViewBag.Title = "InterviewSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div>
    <h1>Interview Summary:</h1>
    <div id="candidate">
        <b>Candidate:</b>
    </div>
    <div id="interviewdata">
    </div>
</div>